<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="JsBarcode.all.min.js"></script>
    <title>Document</title>
</head>
<h1>Scan Me:</h1> <br>
<img src="<%= qr_code %>" width="200" alt="">
  </body>
</body>
</html>